# The port on which the Express server will run (10)
PORT=3000

# MongoDB connection string used to connect the application to the database (11)
MONGODB_URI=YOUR_MONGODB_CONNECTION_STRING #check README.md to get mongodb connection string

# Secret key used to sign and verify JWT tokens (12)
JWT_SECRET=YOUR_JWT_SECRET #check README.md to get your jwt secret