GROQ_API_KEY=YOUR_GROQ_API_KEY 
GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET
GOOGLE_REFRESH_TOKEN=YOUR_GOOGLE_REFRESH_TOKEN
GOOGLE_USER=YOUR_EMAIL_ID

#i'm using groq api here but you can use any ai model api
#and for remaining 4 keys, check my nodemailer's readme.md folder inside my this repo