# Port on which the Express server will run
PORT=3000

# Host/address of the Redis database
REDIS_HOST=YOUR_REDIS_DB_HOST

# Port of the Redis database
REDIS_PORT=YOUR_REDIS_DB_PORT

# Password required to connect to the Redis database
REDIS_PASSWORD=YOUR_REDIS_DB_PASSWORD